#userform{
    z-index: 1;
}
#map{
    width: 100%;
    height: 100%;
    position: absolute;
}
#userform{
    background-color: sandybrown;
}
.element{
    border: 1px solid black;
}
.testing{
    margin: 10px;
    border: 2px gray solid;
    padding: 10px;
}