<div id="map">
  can't load map
</div>

<script src="/js/userspotsetting.js"></script>
<script src="/js/mapsetting.js"></script>
<script src="/js/buttonEvent.js"></script>
<script src="/js/warningAlert.js"></script>





