<!-- force to refresh the page : in order to update SweetAlert messages -->
<button class="translate langBtn" id="en-us" value="Refresh Page" onClick="window.location.reload()">English</button>
<button class="translate langBtn" id="ko" value="Refresh Page" onClick="window.location.reload()">한국어</button>

<div id="mainPage">
    <!-- 1st Fade in : Falling stars -->
    <img id="fallingStars" src="image/main_2_stars.svg" alt="Falling stars">

    <!-- 2nd Fade in : Title -->
    <p class="lang" key="mainPgTitle" id="title"></p>

    <!-- 3rd Fade in : slogan -->
    <p class="lang" key="subTitle" id="slogan"></p>
</div>

<div class="container">
        <button type="button" id="test">test</button>
        <div class="options withoutInput" id="option1"><p class="lang" key="firstOption"></p></div>
        <div class="options withoutInput" id="option2"><p class="lang" key="secondOption"></p></div>
        <div class="options withoutInput" id="option3"><p class="lang" key="thirdOption"></p></div>
        <div class="options withoutInput" id="option4"><p class="lang" key="fourthOption"></p></div>
        <div class="options withInput" id="option5"><p class="lang" key="fifthOption"></p></div>
</div>
