<div id="menuIcon">
  <div></div>
  <div></div>
  <div></div>
</div>

<div id="sideNav" style="width:0;">
  <a id="closeBtn">&times;</a>
  <a class="navMenu" href="#">LOG</a>
  <a class="navMenu" href="#">RATING/REVIEW</a>
  <a class="navMenu" href="#">TEAM</a>
</div>

<script src="/js/mainEvent.js"></script>
