<!-- 회원로그인 , 가입 부분 -->
<div id="userform">
    <!-- 회원 가입 -->
    <div class="element">
        <h3>회원가입</h3>
        <form action='/signup' method="post">
            아이디 : <input type="text" name="email_address" placeholder="email_address"/><div class="idcheckbox"></div><p/>
            비밀번호 : <input type="password" name="password" placeholder="password"/><div class="pwcheckbox"></div><p/>
            이름 : <input type="text" name="nickname" placeholder="name"/><p/>
            <input class="submit-button" type="submit" value="Sign In" ></input>
        </form>
    </div>

    <!-- 로그인 -->
    <div class="element">
        <h3>로그인</h3>
        <form action='/accessLogin' method="post" >
            아이디 : <input type="text" name="email_address" placeholder="id"/><div class="idcheckbox"></div><p/>
            비밀번호 : <input type="password" name="password" placeholder="password"/><div class="pwcheckbox"></div><p/>
            <input type="submit" value="Login" ></input>
        </form>
    </div>

    <!-- 회원탈퇴 -->
    <div class="element">
        <h3>회원탈퇴</h3>
        <form action="/deleteUser" method="post">
            아이디 : <input type="text" name="email_address" placeholder="id"/><div class="idcheckbox"></div><p/>
            비밀번호 : <input type="password" name="password" placeholder="password"><div class="pwcheckbox"></div><p/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<script src="/js/userform.js"></script>