<!-- force to refresh the page : in order to update SweetAlert messages -->
<button class="translate langBtnMain" id="en-us" value="Refresh Page" onClick="window.location.reload()">English</button>
<button class="translate langBtnMain" id="ko" value="Refresh Page" onClick="window.location.reload()">한국어</button>

<div id="mainPage">
    <!-- 1st Fade in : Falling stars -->
    <img id="fallingStars" src="image/main_2_stars.svg" alt="Falling stars">

    <!-- 2nd Fade in : Title -->
    <p class="lang" key="mainPgTitle" id="title"></p>

    <!-- 3rd Fade in : slogan -->
    <p class="lang" key="subTitle" id="slogan"></p>
</div>

<script type="text/javascript" src="js/front-end.js"></script>

