<html>
  <head>
    <%- include('./header/header1.ejs') %>
    <%- include('./header/header2.ejs') %>
    
  </head>
  <body>
    <!-- deleted "body2" -->
    <%- include('./body/body1.ejs') %>
    <%- include('./body/body3.ejs') %>
  </body>

</html>
